
body {
	background-color: black;
}

.background-image {
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;

	display: block;
	background: url("client/images/bg/dark-night3.jpg");
	background-size: cover;
}


.content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
	margin-left: 20px;
	margin-right: 20px;
}

.panel {
	background-color: rgba(92,84,84,0.7);
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.blur {
	-webkit-animation: blur 1s linear forwards;
	-moz-animation: blur 1s linear forwards;
	-ms-animation: blur 1s linear forwards;
	-o-animation: blur 1s linear forwards;
	animation: blur 1.5s ease-in-out forwards;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
.delay {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}
@-webkit-keyframes blur {
	to {
		-webkit-filter: blur(15px);
		filter: blur(15px);
        opacity: 0.6;
    }
}
@-moz-keyframes blur {
	to {
		-moz-filter: blur(15px);
		filter: blur(15px);
        opacity: 0.6;
    }
}
@keyframes blur {
	to {
		-webkit-filter: blur(15px);
		-moz-filter: blur(15px);
		filter: blur(15px);
        opacity: 0.6;
	}
}

.panel h1 {
	font-family: tahoma;
	font-size: 12px;
	color: #e2e2e2;
	text-shadow: 1.5px 1.5px 1px #000;
}

.panel h2 {
	font-family: tahoma;
	font-size: 8px;
	color: #bababa;
	text-shadow: 1.5px 1.5px 1px #000;
}

.panel .content {
	border: none;
	background-color: rgba(0,0,0,0.45);
	color: #f0f0f0;
	font-family: arial;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.highlight {

}
.highlight2 {
	color: #03C7F8;
}


#SpeedIndicator {
	text-align: center;
	vertical-align: middle;
	height:150px;
}

body.disconnected {
/*	background-color: #5F0505;*/
	background-color: black;
}
body.running {
	background-color: #690000;
}

body.connected {
	background-color: #373F48;
}

body.connected.running {
	background-color: #690000;
}
body.connected.running #SpeedIndicator {
	color: white;
	font-size: 12rem;
}

body.connected #SpeedIndicator {
	color: rgba(255,255,255,0.15);
	font-size: 10rem;
}

#SpeedIndicator {
	color: rgba(150,0,0,0.75);
	font-size: 36pt;
	line-height: 12rem;
}

#speed-controls li a {
	font-size: 11pt;
}

#speeddial svg {


}

body.disconnected #speed-dial .background circle.background-circle {
	fill: black;
}
body.disconnected #speed-dial .ticks .background-ticks path {
	fill: #555;
}
body.disconnected #speed-dial .ticks .buttons {
	display: none;
}
body.disconnected .quick-dial {
	display: none;
}

body.running #speed-dial .background circle.background-circle {
	fill: #770303;
}


body.connected #speed-dial .background circle.background-circle {
	fill: #2D3238;
}
body.connected #speed-dial .ticks .background-ticks line {
	stroke: #8A8888;
}
body.connected #speed-dial .ticks .background-ticks path {
	fill: #8A8888;
}
body.connected #speed-dial .ticks .buttons path.inner {
	fill: #630101;
}
body.connected #speed-dial .ticks .buttons path.outer {
	fill: #805252;
}
body.connected #speed-dial .ticks .buttons path:hover {
	fill: #C18E8E;
}
body.connected #speed-dial .lanes path.incline-background {
	fill: #2B3035;
}
body.connected #speed-dial .lanes path.incline-indicator {
	fill: #D8D6D6;
}
body.connected #speed-dial .lanes path.incline-background:hover {
	fill: #202225;
}
body.connected #speed-dial .ticks .buttons path.glyph {
	fill: none;
	stroke: #5F5F5F;
}

body .modal-admin {
    /* new custom width */
    width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
#user-select.modal .modal-content {
	text-align: center;
}
#user-select.modal .modal-content .users {
	margin: 12px;
}
#user-select.modal .modal-content .users button {
	margin: 12px;
	height: 80px;
}
