<div class="container">
    <div id="page1" class="page">
        <ul class="left-buttons">
            <li class="stop">STOP</li>
            <li class="reset"  data-toggle="modal" data-target="#user-select">RESET</li>
        </ul>
        <ul class="quick-dial">
            <li>3.2</li>
            <li>3.6</li>
            <li>4.2</li>
            <li>4.8</li>
            <li>5.5</li>
        </ul>
        <div id="speed-dial">
            <!-- svg dial indicator goes here !-->
        </div>
    </div>
</div>