
body {
}

.panel {
	background-color: rgba(92,84,84,0.7);
  -moz-border-radius: 2px;
  border-radius: 2px;	
}


.panel h1 {
	font-family: tahoma;
	font-size: 12px;
	color: #e2e2e2;
	text-shadow: 1.5px 1.5px 1px #000;
}

.panel h2 {
	font-family: tahoma;
	font-size: 8px;
	color: #bababa;
	text-shadow: 1.5px 1.5px 1px #000;
}

.panel .content {
	border: none;
	background: rgba(0,0,0,0.45) url(default);
	color: #f0f0f0;
	font-family: arial;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.highlight {

}
.highlight2 {
	color: #03C7F8;
}


#SpeedIndicator {
	text-align: center;	
	vertical-align: middle;
	height:150px;
}

body.disconnected {
/*	background-color: #5F0505;*/
	background-color: black;
}
body.running {
	background-color: #690000;
}

body.connected {
	background-color: #373F48;
}

body.connected.running {
	background-color: #690000;
}
body.connected.running #SpeedIndicator {
	color: white;
	font-size: 12rem;
}

body.connected #SpeedIndicator {
	color: rgba(255,255,255,0.15);
	font-size: 10rem;
}

#SpeedIndicator {
	color: rgba(150,0,0,0.75);
	font-size: 36pt;
	line-height: 12rem;
}

#speed-controls li a {
	font-size: 11pt;
}

#speeddial svg {
	
	
}

body.disconnected #speed-dial .background circle.background-circle {
	fill: black;
}
body.disconnected #speed-dial .ticks .background-ticks path {
	fill: #555;
}
body.disconnected #speed-dial .ticks .buttons {
	display: none;
}
body.disconnected .quick-dial {
	display: none;
}

body.running #speed-dial .background circle.background-circle {
	fill: #770303;
}

#speed-dial .ticks .background-ticks line {
	stroke: #788088;
}
#speed-dial .ticks .background-ticks path {
	fill: #7D5F5F;
}
#speed-dial .ticks .buttons path.inner {
	fill: #7D5F5F;
}
#speed-dial .ticks .buttons path.outer {
	fill: #805252;
}
#speed-dial .ticks .buttons path:hover {
	fill: #C18E8E;
}
#speed-dial .ticks .buttons path.incline-background {
	fill: #805252;
}
#speed-dial .ticks .buttons path.incline-indicator {
	fill: #C5B5B5;
}
#speed-dial .ticks .buttons path.incline-background:hover {
	fill: #B36E6E;
}
#speed-dial .ticks .buttons path.goal {
	fill: #E2E2E2;
}
#speed-dial .indicators .current-speed-indicator {
	fill: white;
}

#speed-dial .ticks .target-ticks path {
	fill: #788088;
}
#speed-dial .ticks .away-ticks path {
	fill: #788088;
	display:none;
}
#speed-dial .ticks path.current-temperature-tick {
	fill: white;
}

#speed-dial {
    height: 450px;
    width: 550px;
    position: relative;
	left: 70px;
/*	background: #690000;
    border-radius: 50%;
	box-shadow: 0 0.8rem 1.6rem #460000;*/
}

#speed-dial .ticks .buttons path.glyph {
	fill: none;
	stroke: white;
}

body.connected #speed-dial .background circle.background-circle {
	fill: #2D3238;
}
body.connected #speed-dial .ticks .background-ticks line {
	stroke: #8A8888;
}
body.connected #speed-dial .ticks .background-ticks path {
	fill: #8A8888;
}
body.connected #speed-dial .ticks .buttons path.inner {
	fill: #630101;
}
body.connected #speed-dial .ticks .buttons path.outer {
	fill: #805252;
}
body.connected #speed-dial .ticks .buttons path:hover {
	fill: #C18E8E;
}
body.connected #speed-dial .ticks .buttons path.incline-background {
	fill: #2B3035;
}
body.connected #speed-dial .ticks .buttons path.incline-indicator {
	fill: #D8D6D6;
}
body.connected #speed-dial .ticks .buttons path.incline-background:hover {
	fill: #202225;
}
body.connected #speed-dial .ticks .buttons path.glyph {
	fill: none;
	stroke: #5F5F5F;
}


