body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 10pt;
	color: #ccc;
	overflow: hidden;
	margin:0px; padding:0px;
}

body.map {
/*	background-image: url(map-7.jpg); */
	background-size: cover;
}

/* annabel polizi and Dr. Pepper */

table td {
  font-size: 90%;
}

.layout table {
	width: 100%; height: 100%;
}

/*** Dockable Panels Styles ***/

.layout {
	width: 100%; height: 100%;
	z-index:-1;
}


/*** panel droppable styles ***/

.dockable {
	position: absolute;
	z-index: 10;
}
.dockable.docked {
}

.droppable {
	margin: 0px;
}
.droppable.empty {
}

.droppable.populated {
}

/*** the layout container styles ***/
.droppable {
	border: 5px solid rgba(127,127,127,0.0);
	border-radius: 15px;
	margin:0px; padding: 0px;
}
.droppable.dropzone-present {
	border: 5px dashed rgba(127,127,127,0.5);
	background-color: rgba(0,0,0,0.6);
}
.droppable.dropzone-hover {
	border: 5px solid rgba(127,127,0,0.9);
}

.panel.floating {
	top: 50px; left: 50px;
}


/*** Default Panel Style ***/


.panel {
/*  box-shadow: 2px 2px 2px rgba(0,0,0,0.4); */
  padding:0px;	/* padding here will throw off the docking dimensions */
}

.panel h1 {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	cursor: default;
}

.panel h2 {
	font-family: tahoma;
	margin-left: 5px;
	margin-top: -9px;
	margin-bottom: 10px;
	cursor: default;
}

.panel .content .docked {
	position: absolute;
}

.panel .content {
	overflow: hidden;
	left: 10px; top: 50px;
	bottom: 10px; right: 10px;
	/*overflow-style: marquee,panner,move,auto;*/
	padding: 1em;
}

.panel .content table {
	color: #d0d0d0;
	font-size: 95%;
}
.panel .content table thead td {
	font-weight: 1000;
	color: white;
}
.panel .content table tbody td {
  border-top: 1px dotted #666;
  padding: 2px;
}


/** Command panel ***/

.command-panel {
	position: absolute;
	z-index: 100;
	top: 0px; bottom: 0px; left: 0px; width: 100px;
	background-color: rgba(0,0,0,0.2);
	padding-top: 120px;
	padding-left: 16px;
background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */	
}
.command-panel h6 {
	margin-top: 40px;
	font-size: 9px;
	letter-spacing: 2px;
}
.command-panel li {
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 150px;
}
.command-panel li label {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 9px;
}
.command-panel ul.nav i.glyphicon {
	color: rgba(255,255,255,0.4);
	font-size: 32px;
	width: 48px;
	height: 42px;
	position: relative;
	top: 12px;
}

.command-panel ul.nav li:hover, .command-panel ul.nav li:hover i.glyphicon {
	color: #4F9BD8;
}

.callouts {
	position:absolute;
	top: 0px; left:-300px; width: 300px; bottom:0px;
	padding-top: 80px; 
	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	/*border-right: 3px solid #1F8DD6;*/

background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 96%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(96%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.4) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 97%,rgba(0,0,0,0.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
	background-color: #004A8A;
	overflow-y: auto;

}
.callout p {
	font-size: 15px;
}

.controls #speed-controls #speed-decrease {
  display: inline-block;
  float: left;
  height: 54px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 300%;
  background-color: #C10B0B;
  color: #FFFFFF;
  padding: 5px;
}
.controls #speed-controls #speed-decrease img, .controls #speed-controls #speed-increase img {
	width: 100px;
}
.controls #speed-controls #speed-startstop {
  display: block;
  float: none;
  height: 54px;
  background-color: #A00;
  color: white;
  font-size: 18pt;
  padding: 9px;
}
.controls #speed-controls #speed-increase {
  display: inline-block;
  float: right;
  height: 54px;
  text-align: center;
  line-height: 300%;
  background-color: #C10B0B;
  color: #FFFFFF;
  padding: 5px;
}
.controls #speed-controls #speed-startstop {
	position: initial;
	float: none;
}
.controls #speed-controls #speed-ramping {
  width: 480px;
}

.command-panel .nav li a {
	margin:0px;
	padding:0px;
}

#callout-indicator {
	position: absolute;
	z-index: 100;
	left: -3px;
	font-size: 20px;
	color: rgba(0, 137, 255, 0.5);
}

.controls #speed-controls {
	padding-top: 0px;
}
.controls #speed-controls #speed-ramping {
	margin-left: auto;
	margin-right: auto;
	width: 475px;
	float: none;
}

#footer {
	position: absolute;
	bottom: 15px;
	left: 15px;
}
#footer hr {
	border-top:1px solid #555;
	height:5px;
	margin:5px 0px 0px 2px;
}



